@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
  background: rgb(115,99,214);
  background: linear-gradient(180deg, rgba(115,99,214,1) 23%, rgba(190,114,226,1) 52%, rgba(231,202,244,1) 80%);
}