h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 96px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 27px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 20px;
}

.question h2 {
    font-size: 1.7vw;
    margin-bottom: 1vw;
}
.question h3 {
    font-size: 1.3vw;
}


.main {
    background: rgb(77, 108, 187);
    background: linear-gradient(180deg, rgba(77, 108, 187, 1) 0%, rgba(170, 95, 225, 1) 49%, rgba(201, 97, 218, 0.6566125290023201) 100%);
}

.questions-parent{
    display: flex;
    padding: 30px;
}

.glass-bg {
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.66);
}

.glass-bg-2 {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }

.glass-result-bg{
    background: rgba(175, 172, 172, 0.12);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.scenario-questions-card {
    padding-left: 50px;
    padding-right: 50px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.options-questions-card {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.options-parent{
    display: flex;
    padding: 60px 60px 60px 30px;
}

.primary-questions-card{
    padding-left:70px;
    padding-right:70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-width: 100%;
    text-align: center;
}

.options button{
    border-radius: 10px;
    padding: 1vw;
    z-index: 100;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    min-width:100%;
    min-height: 100%;
    height: 17vh;
    width: 25vw;
    opacity: 0.6;
    font-size: 1.125rem;
    line-height: 1.75rem; 
}

.options button:hover:enabled
 {
    opacity: 1;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.options div:nth-child(1) button{
    background: #E74781;
}

.options div:nth-child(2) button{
    background: #FEA800;
}

.options div:nth-child(3) button{
    background: #3B4CE2;
}

.options div:nth-child(4) button{
    background: #13AB84;
}

.illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden!important;
    }
    
.illustration img{
    flex-shrink: 0;
    width: 40vh;
    height: auto;
}


.start-btn {
    width: 210px;
    height: 82px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #A557CA;
    background-color: rgba(250, 240, 255, 0.87);
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    transition-duration: 0.4s;
    box-shadow: rgba(83, 0, 97, 0.29) 10px 8px 0px;
}

.start-btn:hover {
    background-position: 100% 0;
    background-color: white;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.feedback button{
    transition-duration: 0.4s;
    width: 160px;
    height: 50px;
    position: relative;
    border-radius: 20px;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
    color:white;
    opacity: 0.8;
    font-size: 1.3rem;
    background: #4440C3;
}

.feedback button:hover:enabled
 {
    opacity: 1;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.feedback button:disabled {
    background: #E678AF;
    cursor: not-allowed;
    float:left;
    left: 10%;
}

.feedback div:nth-child(3) button{
    margin-bottom: 20px;
    margin-top: 5px;
}

.feedback div:nth-child(5) button:enabled{
    background: #6BBDB2;
    float:left;
    left: 10%;
}
.feedback i {
    color: #4440C3;
    opacity: 0.8;
    padding-top: 20px;
}
.feedback input{
    width: 90%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 30px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    outline: none;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 5px;
}

.feedback input:focus{
    border: 2px solid rgb(124, 138, 255);
}

.feedback hr {
    border: 0.1px solid rgba(5, 2, 97, 0.075);
    width: 100%;
    /* margin: 0 auto; */
}

@keyframes robotAnimation {
    from {
        left: 0px
    }

    to {
        left: 395px;
    }
}

.first-scenario-bg {
    background: rgb(230,119,175);
    background: linear-gradient(180deg, rgba(230,119,175,1) 23%, rgba(244,179,206,1) 52%, rgba(230,184,251,1) 80%);
}

.second-scenario-bg {
    background: rgb(115,99,214);
    background: linear-gradient(180deg, rgba(115,99,214,1) 23%, rgba(190,114,226,1) 52%, rgba(231,202,244,1) 80%);
 }
 
 .third-scenario-bg {
    background: rgb(247,121,125);
background: linear-gradient(180deg, rgba(247,121,125,1) 1%, rgba(251,215,134,1) 70%, rgba(210,245,224,1) 100%);
 }

 .fourth-scenario-bg {
    background: rgb(34,195,177);
    background: linear-gradient(180deg, rgba(34,195,177,1) 0%, rgba(212,217,255,1) 100%);
 }
 
.robot-hand {
    position: absolute;
    z-index: 100;
    bottom: -5%;
    width: 25%;
    max-width: 40rem;
    right: 20%;
    animation: robotAnimation 0.2s;
    animation-timing-function: ease-in-out;
}

.robot-hand-background {
    position: absolute;
    z-index: -1;
    bottom: -5%;
    width: 25%;
    max-width: 40rem;
    right: 20%;
    opacity: 0.5;
    animation: robotAnimation 0.2s;
    animation-timing-function: ease-in-out;
}

.monash-logo {
    width: 200px;
}

.empty {
    width: 700px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.popup {
    position: absolute;
    min-width: 75%;
    height: 90%;
    left: 12.5%;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
}

.popup-result {
    position: absolute;
    min-width: 75%;
    height: 90%;
    left: 12.5%;
    right: 12.5%;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
    overflow-y: scroll;
}

.popup-result hr {
    border: 2px solid #030052;
    width: 25%;
    margin: 0 auto;
}

.popup-email {
    position: absolute;
    min-width: 75%;
    height: 350px;
    top: 25%;
    left: 12.5%;
    right: 12.5%;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
}

.result-top {
    height: 100%;
}

.slider-content {
    position: relative;
    height: 75%;
}

.result-btn{
    transition-duration: 0.4s;
    height: 35%;
    position: relative;
    border-radius: 20px;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
    color:white;
    opacity: 0.8;
}

.result-btn:hover:enabled
 {
    opacity: 1;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.result-btn:nth-child(1){
    background: #E678AF;
}

.result-btn:nth-child(2){
    background: #6BBDB2;
}

.result-btn:nth-child(3){
    background: #4440C3;
}
.slick-list
{
    height: 100% !important;
}

.slick-track
{
    height: 100%;
}

.slick-current > div{
   height: 100%;
}

.feedback h2, .popup-result h2, .popup-result p, .feedback p{
    color:#030052;
}
.popup button, .submitButton, .display-question button{
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 5px;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.popup button:hover:enabled,
.popup button:focus:enabled,
.submitButton:hover:enabled,
.submitButton:focus:enabled
 {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.popup button:hover:enabled,
.submitButton:hover:enabled,
.display-question button:hover:enabled  {
  transform: translateY(-1px);
}

.popup button:active:enabled,
.submitButton:active:enabled,
.display-question button:active:enabled
{
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.popup, .popup-email button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.popup, .popup-email p {
    color: #444;
    /* font-weight: bold; */
}

.popup input {
    margin-top: 20px;
}

.popup-text {
    width: 70%;
    margin: 0 auto;
    height: 80%;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    text-align: center;
}


.popup-image-result{
    /* position: center; */
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 70%;
}


.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

.feedback-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden!important;
    }
    
.feedback-popup img{
    flex-shrink: 0;
    width: 100px;
    height: 100%;
}

.popup-email input {
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
  }