h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 96px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 27px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 20px;
}

.question h2 {
    font-size: 1.7vw;
    margin-bottom: 1vw;
}
.question h3 {
    font-size: 1.3vw;
}


.main {
    background: rgb(77, 108, 187);
    background: linear-gradient(180deg, rgba(77, 108, 187, 1) 0%, rgba(170, 95, 225, 1) 49%, rgba(201, 97, 218, 0.6566125290023201) 100%);
}

.questions-parent{
    display: flex;
    padding: 30px;
}

.glass-bg {
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.66);
}

.scenario-questions-card {
    padding-left: 50px;
    padding-right: 50px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.options-questions-card {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.options-parent{
    display: flex;
    padding: 60px 60px 60px 30px;
}

.primary-questions-card{
    padding-left:70px;
    padding-right:70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-width: 100%;
    text-align: center;
}

.options button{
    border-radius: 10px;
    padding: 1vw;
    z-index: 100;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    min-width:100%;
    min-height: 100%;
    height: 17vh;
    width: 25vw;
    opacity: 0.6;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.options button:hover:enabled
 {
    opacity: 1;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.options div:nth-child(1) button{
    background: #E74781;

}

.options div:nth-child(2) button{
    background: #FEA800;
}

.options div:nth-child(3) button{
    background: #3B4CE2;
}

.options div:nth-child(4) button{
    background: #13AB84;
}

.illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden!important;
    height: 40vh;
    }
    
.illustration img{
    flex-shrink: 0;
    min-width: 80%;
    min-height: 100%;
    width: 20vw;
}

.start-btn {
    width: 210px;
    height: 82px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #A557CA;
    background-color: rgba(250, 240, 255, 0.87);
    border-radius: 30px;
    margin-top: 30px;
    transition-duration: 0.4s;
    box-shadow: rgba(83, 0, 97, 0.29) 10px 8px 0px;
}

.start-btn:hover {
    background-position: 100% 0;
    background-color: white;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



@keyframes robotAnimation {
    from {
        left: 0px
    }

    to {
        left: 395px;
    }
}

.robot-hand {
    position: absolute;
    z-index: 100;
    bottom: -5%;
    width: 25%;
    max-width: 40rem;
    right: 20%;
    animation: robotAnimation 0.2s;
    animation-timing-function: ease-in-out;
}

.robot-hand-background {
    position: absolute;
    z-index: -1;
    bottom: -5%;
    width: 25%;
    max-width: 40rem;
    right: 20%;
    opacity: 0.5;
    animation: robotAnimation 0.2s;
    animation-timing-function: ease-in-out;
}

.monash-logo {
    width: 200px;
}

.empty {
    width: 700px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.popup {
    position: absolute;
    min-width: 75%;
    height: 90%;
    left: 12.5%;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
}

.popup {
    position: absolute;
    min-width: 75%;
    height: 90%;
    left: 12.5%;
    right: 12.5%;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
}

.result-top {
    height: 100%;
}

.slider-content {
    position: relative;
    height: 75%;
}

.result-btn{
    height: 40%;
    position: relative;
    border-radius: 30px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.78);
    font-family: 'Poppins', sans-serif;
}

.slick-list
{
    height: 100% !important;
}

.slick-track
{
    height: 100%;
}

.slick-current > div{
   height: 100%;
}



/* CSS */
.popup button{
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 20px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.popup button:hover:enabled,
.popup button:focus:enabled {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.popup button:hover:enabled {
  transform: translateY(-1px);
}

.popup button:active:enabled {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.popup button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.popup p {
    color: #444;
    font-weight: bold;
}


.popup input {
    margin-top: 20px;
}

.popup-text {
    width: 70%;
    margin: 0 auto;
    height: 80%;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    text-align: center;
}


.popup-image-result{
    /* position: center; */
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 50%;
}

.popup-text-result {
    width: 50%;
    margin: 0 auto;
    height: 10%;
}